<html>

<body>
  <div class="container" align-content="center">
    <form>
      <h4>Stock:</h4> <input placeholder="DBS">
      <h4>Product Type:</h4>
      <select>
        <option value="">---Select---</option>
        <option value="Limit">Limit</option>
        <option value="Market">Market</option>
        <!--option *ngFor="let web of websiteList">{{web}}</option-->
      </select>
      <h4>Price:</h4>
      <input placeholder="price" type="text">
      <h4>Quantity:</h4>

      <input placeholder="quantity" type="number">
      <!--div *ngIf="f.ProdType.touched && f.ProdType.invalid" class="alert alert-danger">
        <div *ngIf="f.ProdType.errors.required">Product type is required.</div>
      </div>
      <div *ngIf="f.Qty.touched && f.Qty.invalid" class="alert alert-danger">
        <div *ngIf="f.Qty.errors.required">Product type is required.</div>
      </div>
      <div *ngIf="f.price.touched && f.price.invalid" class="alert alert-danger">
        <div *ngIf="f.price.errors.required">Product type is required.</div>
      </div>
    </div-->

      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Place Order</button>
    </form>
  </div>
</body>

</html>