<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div *ngIf="!userck(); then thenBlock else elseBlock"></div>

  <ng-template #thenBlock>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark   fixed-top" style="background:black;height:25px;">
      <div class="container">
        <a class="nav-link" href="#"><img src="assets/img/co.png" height="70px"><span
            class="sr-only">(current)</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
              <a class="nav-link" routerLink="cmpregister"><b>
                  <h4 style="text-decoration-color: white; ">Register</h4>
                </b></a>
            </li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
              <a class="nav-link" routerLink="login"><b>
                <h4 style="text-decoration-color: white; "><i class="fa fa-sign-in"></i>&nbsp;&nbsp;Login</h4>
                </b></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </ng-template>
  <ng-template #elseBlock>
    <div *ngIf="!empck(); then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark    fixed-top" style="background:black;">
        <a class="navbar-brand" routerLink="adminhome">DBS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="adminhome">
                <h3><b>Home</b></h3>
              </a>
            </li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
              <a class="nav-link" routerLink="showcust">
                <h3><b>Customers</b></h3>
              </a>
            </li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
              <a class="nav-link" routerLink="orders">
                <h3><b>Orders</b></h3>
              </a>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
              <a class="nav-link" routerLink="addProduct">
                <h3><b>Add Product</b></h3>
              </a>
            </li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
              <a class="nav-link" (click)="logout()">
                <h3><i class="fa fa-sign-out"></i>&nbsp;&nbsp;<b>Logout</b></h3>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </ng-template>
    <ng-template #elseBlock>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="background:black;">
        <a class="navbar-brand" routerLink="custhome">DBS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="custhome">
                <h4><b>Home</b></h4>
              </a>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
              <a class="nav-link" routerLink="myevents">
                <h4><b>Products</b></h4>
              </a>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
              <a class="nav-link" routerLink="orders">
                <h4><b>My Orders</b></h4>
              </a>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <!--li class="nav-item">
              <a class="nav-link" routerLink="viewEmpProfile">
                <h4><i class="fa fa-user"></i><b>{{myEmp.empName}}</b></h4>
              </a>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
            <li>
              <a class="nav-link" (click)="logout()">
                <h4><i class="fa fa-sign-out"></i>&nbsp;&nbsp;<b>Logout</b></h4>
              </a>
            </li>
          </ul>
        </div>
      </nav>

    </ng-template>
  </ng-template>
</body>

</html>
